@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic");

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f9f9f9;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: Lato, "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial,
    sans-serif;
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}


.column-container {
  display:flex;
  flex-direction:column;
}
.row-container {
  display:flex;
  flex-direction:row;
}
/**
 * Button
 */

.button {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  background: #016aba;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.button:hover {
  opacity: 1;
}

/**
 * Body Container
 */

.container {
  min-height: 100vh;
  height: 100%;
  background: #f9f9f9;
  margin: 0 auto;
  box-sizing: border-box;
}

/**
 * Top Navigation
 */

.menu {
  display: flex;
  align-items: center;
  height: 4em;
  background-color: #e46855;
}

.menu h1 {
  position: relative;
  color: #f9f9f9;
  font-size: 1.8em;
  font-style: italic;
}

.menu a,
.menu .links {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu a:hover,
.menu a.active {
  opacity: 1;
}

.menu .links {
  padding: 0 21px;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 35%;
  z-index: 5;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(200px);
  transition-property: transform opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
  background-color: #fff;
  border-radius: 10px;
}

.shopping-cart-header {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-bottom:5%;
}

.shopping-cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.shopping-cart-item {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  margin-bottom:5px;
}
.remove-item-btn {
  align-self: center;
  margin-right: 1rem;
  font-size:1.4rem;
  cursor: pointer;
}
.remove-item-btn:hover {
  transform: scale(1.1);
}

.sc-item-qty-and-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-qty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border:1px solid #575757;
  margin-top:5px;  
}

.shopping-cart .sc-qty input {
  font-size:0.9rem;
  width: 1.9rem;
  border:none;
  text-align: center;
  margin-right:1px;
}

.shopping-cart .sc-qty input::-webkit-outer-spin-button,
.shopping-cart .sc-qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.shopping-cart .sc-qtybtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border-style: none;
  touch-action: manipulation;
  border: none;
  background: none;
  cursor: pointer;
  user-select: none;
  width: 1.8rem;
  height:1.8rem;
  color: #575757;
  font-size: 1.5rem;

}

.sc-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  font-size:0.9rem;
}
.sc-info p {
  display: flex;
  padding:2px;
}
.sc-info span {
  display:flex;
  align-items: center;
  font-weight:bold;
  font-size:0.9rem;
  margin-right:6px;
}
.bold {
  font-weight:bold;
  font-size:0.9rem;
}

.subtotal {
  font-weight:bold;
  display: flex;
  width:100%;
  margin-top:10px; 
}

.price {
  font-weight:bold;
  margin-left:auto;
}

.checkout-btn {
  width:100%;
  height:50px;
  margin-top:10px;
  background-color: #262626;
  color:white;
}
.checkout-btn:hover {
  background-color: #575757;
}


.remove-item-btn {
  margin-left:auto;
  border:0;
  padding:0;
}

.coffee-icon {
  height:121px;
  width:176px;
  border-radius:5px;
  margin:auto 0;
  margin-right: 5px;
}

.close-shopping-cart {
  align-self:flex-start;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  width: min-content;
  margin-left: 5px;
}

.shopping-cart-closed {
  opacity: 0;
  visibility: hidden;
}

.shopping-cart-open {
  transform: translate(0);
}

.shopping-cart-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgb(0 0 0 / 30%);
  z-index: 2;
  cursor: pointer;
}

.shopping-cart-overlay-open {
  display: block;
}

.shopping-cart-overlay-closed {
  display: none;
}

.summary {
  border-top:1px solid black;
  padding:5px;
  height: 200px;
  width: 90%;
}

.shopping-cart-icon {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  background: linear-gradient(white 0 0) 0 100% / var(--d, 0) 3px
    no-repeat;
  padding: 0.5rem 0;
  transition: 0.1s;
}

.shopping-cart-icon:hover {
  --d: 100%;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 2rem 10rem;
  margin: 5rem;
  border-top: 2px solid #e6e6e6;
  background-color: #f9f9f9;
}

.footer a {
  display: flex;
  align-items: center;
  color: #6a707a;
  line-height: 1.6;
}

.footer a:hover {
  color: red;
  text-decoration: solid;
}

.footer .social-media {
  display: flex;
  flex-direction: column;
}

.footer .social-media a {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.footer .social-media svg {
  width: 20px;
  height: 20px;
  margin: 5px;
  color: #6a707a;
}

.coffees label span {
  font-size: 140%;
  margin: 50px auto 20px;
  display: block;
  text-align: center;
  font-style: italic;
}

.coffees input {
  padding: 11px;
  font-size: 18px;
  width: 500px;
  margin: 20px auto 50px;
  background-color: rgb(255 255 255 / 75%);
  border: solid 1px lightgray;
  display: block;
}

.menu input:focus {
  background-color: #f9f9f9;
  outline: none;
}

.menu button {
  margin-right: 15px;
  position: relative;
  top: -1px;
  left: -5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #262626;
  cursor: pointer;
  opacity: 1;
}

.menu button:hover {
  background-color: #111;
  opacity: 1;
}

.menu .results {
  display: none;
  position: absolute;
  width: 215px;
  top: 54px;
  left: 10px;
  background-color: #f6f6f6;
  border-right: 1px solid rgb(0 0 0 / 5%);
  border-bottom: 1px solid rgb(0 0 0 / 5%);
}

.results {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-top: -10px;
}

.results {
  display:flex;
  justify-content: center;
  padding: 10px 15px;
}

.menu .results:hover {
  background: #f3f3f3;
}

/**
 * Content Area
 */

.body {
  padding: 15px;
}

/**
 * Similar to Jumbotron
 */

.jumbo {
  padding: 50px;
  background: #f6f6f6;
}

.jumbo:hover {
  background-color: #f3f3f3;
}

.jumbo h2 {
  font-size: 3.2em;
  margin-top: -25px;
}

.jumbo p,
.jumbo address {
  margin-bottom: 25px;
}

.jumbo img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}

/**
 * Individual Coffees
 */

.coffee {
  margin-top: 15px;
  background-color: #f6f6f6;
  padding: 20px 25px;
  display: flex;
  align-items: center;
}

.coffee:hover {
  background-color: #f3f3f3;
}

.coffee img {
  border-radius: 5px;
}

.coffee .image {
  flex-grow: 0;
  flex-basis: 180px;
  margin: 20px 25px;
  text-align: center;
}

.coffee button.image {
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 1;
}

.coffee button.image:focus {
  outline: none;
}

.coffee button.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: -20px;
  padding: 20px;
  border-radius: 5px;
  background: #016aba;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.coffee button.image:focus::after,
.coffee button.image:hover::after {
  opacity: 0.1;
}

.coffee .image img {
  max-width: 100%;
}

.coffee .image.large {
  margin: 30px 25px 50px;
  flex-basis: 100%;
}

.coffee .image small {
  display: block;
  margin-top: 5px;
  margin-bottom: -15px;
  text-align: center;
  color: #016aba;

  /* This is needed to fix a safari clipping issue */
  position: relative;
}

.coffee .image.large small {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 110%;
}

.coffee .details {
  flex-basis: 50%;
  flex-grow: 2;
  display: flex;
  margin: 20px 25px;
  place-content: space-around space-between;
  flex-direction:column; 
}

.coffee h3 {
  flex-basis: 100%;
}

.coffee h3 a {
  display: inline;
}

.coffee .detail {
  font-weight: 300;
  font-style: italic;
}

.coffee .detail span {
  font-weight: 400;
  font-style: normal;
}

.details .reviews span {
  margin-left:2rem;

}

.detail-select {
  font-size: 1rem;
  font-weight: normal;
  border: none;
  width:min-content;
  background-color: transparent;
  padding:3px;
  color: grey;
}

.detail-select:active, .detail-select:focus {
  outline: none;
  box-shadow: none;
}



.coffee.detailed {
  background: none;
  align-items: flex-start;
}

.coffee.detailed .image {
  flex-basis: 320px;
}

.coffee.detailed .image.large {
  margin: 30px 25px 50px;
  flex-basis: 100%;
}

.coffee.detailed .details {
  height: auto;
}

.detail-container {
  display:flex;
  flex-direction: row;
}

.coffee.detailed h3 {
  font-size: 200%;
  margin-bottom: 10px;
}

.coffee.detailed .detail {
  margin: 5px 0;
  flex-shrink: 2;
}

.coffee.detailed .description {
  white-space: normal;
  flex-basis: 100%;
  flex-shrink: 1;
}

.coffee.detailed .addToCartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width:200px;
  height:50px;
  color:white;
  background-color: #e46855;
  border: none;
  cursor:pointer; 
}

.coffee.detailed .addToCartBtn:hover {
  background-color: #d46554;
}

.coffee.detailed .add-to-shopping-cart-icon {
  margin-right:10px;
  
}

.coffee.detailed .map {
  flex-basis: 100%;
  margin: 50px 25px 25px;
}

.coffee.detailed .map img {
  width: 100%;
  height: auto;
}

@media only screen and (width <= 919px) {
  .coffee.detailed .image,
  .coffee.detailed .image.large {
    margin: 30px 25px 25px;
    flex-basis: 100%;
    cursor: default;
  }

  .coffee.detailed .image:hover {
    flex-basis: 100%;
    cursor: default;
  }

  .coffee.detailed .image small {
    display: none;
  }

  .coffee.detailed button.image:hover::after {
    opacity: 0;
  }

  .coffee.detailed button.image:focus::after {
    opacity: 0.1;
  }

  .coffee.detailed .map {
    margin-top: 25px;
  }
}

/**
 * Utilities
 */

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.alert {
  position:sticky;
  bottom:20px;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}